@import "@carbon/type/scss/type";
@import "@carbon/colors/scss/colors";

// These are needed to extend default carbon component styles
@import "carbon-web-components/scss/components/ui-shell/header";
@import "carbon-web-components/scss/components/ui-shell/side-nav";

// These are needed to apply theming
@import "carbon-components/scss/globals/scss/css--helpers";
@import "carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/mixins";

$q: "qiskit";
$prefix: "bx";

:host {
  --header-height: 3.5rem;
  --cool-gray-10: #{$carbon--cool-gray-10};
  --cool-gray-20: #{$carbon--cool-gray-20};
  --cool-gray-30: #{$carbon--cool-gray-30};
  --cool-gray-80: #{$carbon--cool-gray-80};
  --purple-70: #{$carbon--purple-70};
  --sidenav-item-height: 3.5rem;
  --sidenav-item-height-short: 2.8rem;
  --box-shadow: rgb(0 0 0 / 10%) 0 2px 3px 0;

  @include carbon--theme($carbon--theme--white, true);

  font-family: carbon--font-family("sans");

  //  https://web-components.carbondesignsystem.com/?path=/docs/components-ui-shell--header#using-with-header-nav
  #{$prefix}-header ~ #{$prefix}-side-nav {
    height: calc(100% - var(--header-height));
    margin-top: var(--header-height);
  }
}

#{$prefix}-header {
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  border-color: var(--cds-border-subtle);
  background-color: var(--cds-ui-background);
  color: var(--cds-text-secondary);

  /* stylelint-disable-next-line selector-class-pattern */
  svg.menu__account__icon {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    width: 2rem;
    height: 2rem;
    border: 0.125rem solid var(--cds-icon-on-color);
    border-radius: 50%;
    fill: var(--cds-icon-on-color);
  }

  // This is needed to ensure svg
  // renders in safari
  svg {
    width: 100%;
    height: auto;
  }
}

#{$prefix}-header-name {
  &::part(link) {
    width: 8.75rem;
    min-height: var(--header-height);
    fill: var(--cool-gray-80);
  }
}

#{$prefix}-header-nav {
  &::before,
  &::part(divider) {
    display: none;
  }
}

#{$prefix}-header-nav-item.#{$q}-user-accout-icon {
  &::part(link),
  &::part(link):focus,
  &::part(link):hover {
    background-color: var(--purple-70);
    color: var(--cds-ui-background);
  }
}

#{$prefix}-header-nav-item::part(link),
#{$prefix}-header-menu-item::part(link),
#{$q}-header-menu::part(trigger),
#{$q}-header-menu-mega::part(trigger) {
  @include carbon--type-style("body-long-02");

  background: var(--cds-ui-background);
  color: var(--cds-text-secondary);

  &:active,
  &:focus,
  &:hover {
    background-color: var(--cds-ui-background);
    color: var(--cds-text-secondary);
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    border-color: var(--cds-border-subtle);
  }
}

:host(#{$q}-header-menu) {
  /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
  @extend :host(#{$prefix}-header-menu);

  &::part(trigger-icon) {
    fill: var(--cds-text-secondary) !important;
  }

  &::part(menu-body) {
    box-shadow: var(--box-shadow);
  }

  .#{$prefix}--header__menu-title {
    background-color: var(--cds-ui-background);
    color: var(--cds-text-secondary);

    &[aria-expanded="true"] {
      background-color: var(--cool-gray-10);
    }
  }
}

#{$prefix}-header-menu-item {
  height: 3rem;
  background-color: var(--cds-ui-01);
  color: var(--cds-text-secondary);

  &::part(link),
  &::part(link):focus,
  &::part(link):hover {
    background-color: var(--cool-gray-10);
  }
}

:host(#{$q}-header-menu-mega) {
  /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
  @extend :host(#{$prefix}-header-menu);

  &::part(trigger-icon) {
    fill: var(--cds-text-secondary) !important;
  }

  .#{$prefix}--header__menu-title {
    color: var(--cds-text-secondary);

    &[aria-expanded="true"] {
      background-color: var(--cool-gray-10);
    }
  }

  .#{$prefix}--header__menu-title[aria-expanded='true']
  + .#{$prefix}--header__menu {
    position: fixed;
    top: var(--header-height);
    bottom: auto;
    left: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100vw;
    height: auto;
    padding: var(--cds-spacing-05) var(--cds-spacing-03);
    background-color: var(--cool-gray-10);
    box-shadow: var(--box-shadow);
    transform: translateZ(0);
  }
}

:host(#{$q}-header-menu-item-mega) {
  padding: 0 var(--cds-spacing-04);

  .#{$q}-header-menu-item-mega-heading {
    @include carbon--type-style("productive-heading-02");

    margin-bottom: var(--cds-spacing-04);
    color: var(--cds-text-primary);
  }

  .#{$q}-header-menu-item-mega-list {
    @include carbon--type-style("body-long-02");

    li {
      margin-bottom: var(--cds-spacing-03);
    }

    a {
      color: var(--cds-text-primary);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        outline: 2px solid var(--cds-border-subtle);
      }
    }
  }
}

:host(#{$q}-header-menu-button) {
  /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
  @extend :host(#{$prefix}-header-menu-button);

  .#{$prefix}--header__menu-toggle,
  .#{$prefix}--header__menu-trigger {
    width: var(--header-height);
    height: var(--header-height);
    border: none;

    > svg {
      fill: var(--cds-text-secondary);
    }

    &:focus,
    &:active,
    &:hover {
      background-color: var(--cds-ui-01);
    }
  }
}

#{$prefix}-side-nav {
  right: 0;
  left: auto;
  box-shadow: 0 0.5rem 0.5rem rgb(0 0 0 / 25%);

  /* stylelint-disable-next-line selector-class-pattern */
  svg.menu__account__icon {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    width: 2rem;
    height: 2rem;
    margin-right: var(--cds-spacing-03);
    border: 0.125rem solid var(--purple-70);
    border-radius: 50%;
    fill: var(--purple-70);
  }

  #{$prefix}-side-nav-divider {
    margin-top: -1px;
    margin-bottom: -1px;
  }

  #{$prefix}-side-nav-items {
    overflow-y: scroll;
    padding: var(--cds-spacing-03) 0;
  }
}

#{$prefix}-side-nav-link.#{$q}-user-accout-icon {
  &::part(link) {
    height: 3rem;
    text-decoration-color: var(--purple-70);
  }

  &::part(title) {
    display: flex;
    align-items: center;
    color: var(--purple-70);
  }
}

#{$prefix}-side-nav-link {
  &::part(link) {
    min-height: var(--sidenav-item-height);

    &:hover {
      text-decoration: underline;
      text-decoration-color: var(--cds-text-secondary);
    }

    &:focus {
      outline-color: var(--cds-border-subtle);
    }
  }

  &::part(title) {
    @include carbon--type-style("body-long-02");
  }
}

#{$prefix}-side-nav-menu {
  &::part(expando) {
    @include carbon--type-style("body-long-02");

    min-height: var(--sidenav-item-height);

    &:hover {
      background-color: transparent;
      text-decoration: underline;
      text-decoration-color: var(--cds-text-secondary);
    }

    &:focus {
      outline-color: var(--cds-border-subtle);
    }
  }
}

#{$prefix}-side-nav-menu[expanded]:not(.#{$q}-side-nav-submenu) {
  &::part(title) {
    font-weight: 500;
  }
}

#{$prefix}-side-nav-menu.#{$q}-side-nav-submenu {
  &::part(expando) {
    min-height: var(--sidenav-item-height-short);
    background-color: var(--cool-gray-10);
  }
}

#{$prefix}-side-nav-menu-item {
  &::part(link) {
    min-height: var(--sidenav-item-height-short) !important;

    &:hover {
      text-decoration: underline;
      text-decoration-color: var(--cds-text-secondary);
    }

    &:focus {
      outline-color: var(--cds-border-subtle);
    }
  }

  &::part(title) {
    @include carbon--type-style("body-long-02");
  }

  &.#{$q}-nav-menu-item {
    &::part(link) {
      background-color: var(--cool-gray-10) !important;
    }
  }

  &.#{$q}-nav-submenu-item {
    position: relative;

    &::part(link) {
      background-color: var(--cool-gray-20) !important;

      &:focus {
        outline-color: var(--cool-gray-30);
      }
    }

    &::after {
      content: "";
      position: absolute;
      right: var(--cds-spacing-07);
      left: var(--cds-spacing-07);
      z-index: 1;
      height: 1px;
      background-color: var(--cool-gray-30);
    }

    &:first-of-type {
      border-top: 1px solid var(--cool-gray-30);
    }

    &:last-of-type {
      border-bottom: 1px solid var(--cool-gray-30);
    }
  }
}
