name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release

    # Prevents changesets action from creating a PR on forks
    # if: github.repository == 'qiskit-community/qiskit-web-components'

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          # This makes Actions fetch all Git history so that Changesets can
          # generate changelogs with the correct commits
          fetch-depth: 0

      - uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          cache: 'npm'
      - run: npm i -g npm@7 # Force npm@7 to support workspaces

      - run: npm ci

      - name: Create release pull request or publish to npm
        uses: changesets/action@master
        with:
          # This expects you to have a script called release which does a build
          # for your packages and calls changeset publish
          publish: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
